<div class="container pt-5">
	{{ form_start(form) }}
	<div class="d-flex flex-column align-items-center d-grid gap-2">
		<div class="">
			{{ form_errors(form.name) }}
		</div>
		<div class="d-flex flex-row align-items-center d-grid gap-3">
			<div class="">
				<p>Le nom du tag</p>
			</div>
			<div class="">
				{{ form_widget(form.name) }}
			</div>
			<div class="">
				<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
</div>
