{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block header %}

<div class="container">

	{# <div class="pt-5">
		<p>
			<h1>Chatte Actuelle</h1>
		</p>
	</div> #}

	<div class="col background-white py-3 justify">
		<div class="clearfix">
				<img src="{{ asset('/img/logo.png') }}" alt="" width="150" height="150"
				class="float-sm-start">
			<p class="">
				{{ editos.edito|raw }}
			</p>
		</div>
	</div>

	<div class="col-md-4">
		{% if is_granted('EDITO_EDIT',app.user) %}
		<div class="">
			<a href="{{ path('app_edito_edit', {'id': editos.id, }) }}" class="btn btn-primary">Editer</a>
		</div>
		{% endif %}
		<div class="">
			<p>{{ editos.publishedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
		</div>
	</div>
</div>

{% endblock %}

{% block section %}
<div class="container pt-5">
	{% if last_articles %}
	<div class="d-flex flex-row justify-content-around flex-wrap d-grid gap-3">
		{% for last_article in last_articles %}
		<div class="card" style="width: 18rem">
			<img src="{{ asset('/img/chatte_actuelle.jpg') }}" class="card-img-top" alt="chatte_actuelle">
			<div class="card-body">
				<h5 class="card-title">{{ last_article.title }}</h5>
				{% autoescape %}
				<p class="card-text">{{ last_article.article|u.truncate(155)|raw }}...</p>
				{% endautoescape %}
				<p> Auteur : {{ last_article.user.displayname }}</p>
				<a href="{{ path('app_articles_show', {'slug': last_article.slug}) }}" class="btn btn-light">
					<img id="footprints" src="{{ asset("/img/svg/paw.svg") }}" alt="paw">
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<div class="">
		<h2>Au Boulot</h2>
	</div>
	{% endif %}
</div>

{% endblock %}