{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block header %}
	<div class="container">
		<div class="">
			<p>
				<h1>Edito</h1>
			</p>
		</div>
		{% if editos %}
			<div class="">
				<p>{{ editos.edito }}</p>
			</div>
			{% if is_granted('EDITO_EDIT',app.user) %}
				<div class="">
					<a href="{{ path('app_edito_edit', {'id': editos.id, }) }}" class="btn btn-primary">Editer</a>
				</div>
			{% endif %}
			<div class="">
				<p>{{ editos.publishedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
			</div>
		{% else %}
			<div class="">
				<h2>Humeur en construction</h2>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block section %}
	<div class="container">
		

		
		{% if last_articles %}
			<div class="d-flex flex-row flex-wrap d-grid gap-3">
				{% for last_article in last_articles %}
					<div class="card" style="width: 18rem;">
						<img src="{{ asset('/img/chatte_actuelle.jpg') }}" class="card-img-top" alt="chatte_actuelle">
						<div class="card-body">
							<h5 class="card-title">{{ last_article.title }}</h5>
							{% autoescape %}
								<p class="card-text">{{ last_article.article|u.truncate(155)|raw }}...</p>
							{% endautoescape %}
							<a href="{{ path('app_articles_show', {'slug': last_article.slug}) }}" class="btn btn-primary">Lire</a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="">
				<h2>Au Boulot</h2>
			</div>
		{% endif %}

	</div>
{% endblock %}
