{{ form_start(search) }}
    {# {{ form_widget(form) }} #}
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
    {{ form_widget(search.title, {'attr': {'class': 'form-control'}}) }}

{{ form_end(search) }}