{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block header %}
<div class="container pt-5">
    <div class="text-center">
        <h1>Enregistrement</h1>
    </div>
</div>
{% endblock %}

{% block section %}
<div class="container pt-5">
    {% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
    {{ form_start(registrationForm) }}
    {# {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    {{ form_row(registrationForm.agreeTerms) }} #}

    {# <button type="submit" class="btn">Register</button> #}

    <div class="pt-1 pt-lg-3">
		Résoudre :
		{{ captcha }}
	</div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}