{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block header %}
<div class="container pt-5">
    <div class="text-center">
        <h1>Enregistrement</h1>
    </div>
</div>
{% endblock %}

{% block section %}
<div class="container pt-5">
    {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {{ form_start(registrationForm) }}
    
    <div class="col-12 justify-content-center d-grid gap-3">
        <div class="bg-light">
            {{ form_errors(registrationForm.email) }}
        </div>
        <div class="">
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control  text-center'}}) }}
        </div>
        <div class="bg-light">
            {{ form_errors(registrationForm.displayName) }}
        </div>
        <div class="">
            {{ form_widget(registrationForm.displayName, {'attr': {'class': 'form-control  text-center'}}) }}
        </div>
        <div class="">
            {{ form_errors(registrationForm.imgProfile) }}
        </div>
        <div class="">
            {{ form_widget(registrationForm.imgProfile, {'attr':{'class':'form-control form-control-lg'}}) }}
        </div>
        <div class="bg-light">
            {{ form_errors(registrationForm.plainPassword.first) }}
        </div>
        <div class="">
            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control  text-center'}}) }}
        </div>
        <div class="bg-light">
            {{ form_errors(registrationForm.plainPassword.second) }}
        </div>
        <div class="">
            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control  text-center'}}) }}
        </div>

        <div class="">
            <p>
                Résoudre : {{ captcha }}
            </p>
        </div>
        <div class="">
            {{ form_widget(registrationForm.captcha, {'attr': {'class': 'form-control  text-center'}}) }}
        </div>
        <div class="">
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>
        <div class="text-center">
            {{ form_widget(registrationForm.save, { 'label': 'Envoyer' }) }}
        </div>
    </div>
    {{ form_end(registrationForm) }}
    {% endblock %}