{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block header %}*
<div class="container pt-5">

    <div class="text-center d-grip gap-3">
        <h1>Reinitialiser le mot de passe</h1>
    </div>

    {{ form_start(resetForm) }}
    <div class="d-grid gap-2">

        <p>
                {{ form_errors(resetForm.plainPassword) }}

                {{ form_label(resetForm.plainPassword.first) }}

                {{ form_widget(resetForm.plainPassword.first) }}

                {{ form_label(resetForm.plainPassword.second) }}
            
                {{ form_widget(resetForm.plainPassword.second) }}
            
            <div class="text-center">
                <button class="btn btn-primary">Réinitialiser le mot de passe</button>
            </div>
        </p>
    </div>
    {{ form_end(resetForm) }}


</div>



{% endblock %}