{% extends 'base.html.twig' %}

{% block title %}Index article publié
{% endblock %}

{% block header %}
	<div class="container">
		<div class="text-center">
			<h1>Vos articles publié {{ app.user.displayName }}</h1>
		</div>
	</div>
{% endblock %}

{% block section %}
	<div class="container pt-5">
		<div class="d-flex flex-row flex-wrap justify-content-center d-grid gap-2">
			{% for article in user.articles %}
			{% if not article.draft %}
				<div class="card" style="width: 18rem;">
					<img src="{{ asset('/img/chatte_actuelle.jpg') }}" class="card-img-top" alt="chatte_actuelle">
					<div class="card-body">
						<h6 class='text-end text-info'>{{article.tags.name}}</h6>
						<h5 class="card-title">{{ article.title }}</h5>
						{% autoescape %}
							<p class="card-text">{{ article.article|u.truncate(155)|raw }}...</p>
						{% endautoescape %}
						<p><strong>Auteur : </strong>{{ article.user.displayName }}</p>
						{% if article.PublishedAt %}
						<p>
							<strong>Publié : </strong>{{ article.publishedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
						</p>
						{% else %}
							<p>
								<strong>Jamais Publié</strong>
							</p>
						{% endif %}
						{% if article.modifiedAt %}
							<p>
								<strong>Modifié : </strong>{{ article.publishedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
							</p>
						{% endif %}
						<div class="d-flex flex-row d-grid gap-2">
							<div class="">
								<a href="{{ path('app_articles_show', {'slug': article.slug}) }}" class="btn btn-primary">Lire</a>
							</div>
                            {% if is_granted('EDIT_ARTICLE',article) %}
                                <div class="">
                                    <a href="{{ path('app_articles_edit', {'slug': article.slug}) }}" class="btn btn-primary">Editer</a>
                                </div>
                            {% endif %}
                            {% if is_granted('DELETE_ARTICLE',article) %}
                                <div class="">
                                    {{ include('articles/_delete_form.html.twig') }}
                                </div>
                            {% endif %}
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="container">
		<div class="">
			<a href="{{ path('app_articles_new') }}">Nouvel Article</a> 
		</div>
		<div class="">
			<a href="{{ path('app_admin') }}">Retour</a> 
		</div>
	</div>
		
{% endblock %}
