{% extends 'base.html.twig' %}

{% block title %}Articles index
{% endblock %}

{% block header %}
<div class="container pt-5">
	<div class="text-center">
		<h1>Historique de tous les articles</h1>
	</div>
</div>
{% endblock %}

{% block section %}

<div class="container pt-5">
	{{ form_start(search) }}
	<div class="d-flex justify-content-center">
		<div class="col-8">
			{{ form_widget(search.mots)}}
		</div>
		<div class="ms-2">
			<button class="btn btn-outline-success"><img src="{{ asset('/img/svg/search.svg') }}" alt="search"></button>
		</div>
	</div>
	{{ form_end(search) }}
</div>
<div class="container pt-5">
	{% if articles %}
	<div class="d-flex flex-row flex-wrap justify-content-around d-grid gap-2">
		{% for article in articles %}
		<div class="card" style="width: 18rem;">
			{% if article.images is empty %}
			<img src="{{ asset('/img/chatte_actuelle.jpg') }}" class="card-img-top" alt="chatte_actuelle">
			{% else %}
			<img src="{{ asset('/img/download/'~article.slug ~'/'~article.images[0].source) }}" class="card-img-top"
				alt="chatte_actuelle">
			{% endif %}
			<div class="card-body">
				<h6 class='text-end text-info'>{{article.tags.name}}</h6>
				<h5 class="card-title">{{ article.title }}</h5>
				{% autoescape %}
				<p class="card-text justify">{{ article.article|u.truncate(155)|raw }}...</p>
				{% endautoescape %}
				<p>
					<strong>Auteur :
					</strong>
					{{ article.user.displayName }}</p>
				<p>
					<strong>Publié :
					</strong>
					{{ article.publishedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
				{% if article.modifiedAt %}
				<p>
					<strong>Modifié :
					</strong>
					{{ article.publishedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
				{% endif %}
				<div class="d-flex flex-row align-items-center d-grid gap-2">
					<div class="">
						<a href="{{ path('app_articles_show', {'slug': article.slug}) }}" class="btn btn-light">
							<img id="footprints" src="{{ asset("/img/svg/paw.svg") }}" alt="paw">
						</a>
					</div>
					{% if is_granted('EDIT_ARTICLE',article) %}
					<div class="">
						<a href="{{ path('app_articles_edit', {'slug': article.slug}) }}"
							class="btn btn-primary">Editer</a>
					</div>
					{% endif %}
					{% if is_granted('DELETE_ARTICLE',article) %}
					<div class="">
						{{ include('articles/_delete_form.html.twig') }}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	{% set pages = (total / limit)|round(0,'ceil') %}
	{% set action = '#liste_articles' %}



	<div class="" id="#liste_articles">
		<ul class=" d-flex justify-content-center align-items-center pagination pt-5">

			<li class="page-item {{ page == 1 ?'disabled': '' }}">
				<a class="page-link" href="?page=1{{ action }}">Début</a>
			</li>

			<li class="page-item {{ page == 1 ?'disabled': '' }}">
				<a class="page-link" href="{{ page > 1 ? '?page=' ~ (page - 1) : '' }}">Retour</a>
			</li>


			{% for item in 1..pages %}
			<li class="d-none d-md-block page-item {{ page == item ?'active': '' }} m-2" aria-current="true">
				<a class="page-link" href="?page={{ item }}">{{ item }}</a>
			</li>
			{% endfor %}

			<li class="page-item {{ page == pages ?'disabled': '' }}">
				<a class="page-link" href="{{ page < pages ? '?page=' ~ (page + 1) : '' }}">Suivant</a>
			</li>

			<li class="page-item {{ page == pages ?'disabled': '' }}">
				<a class="page-link" href="?page={{ pages }}">Fin</a>
			</li>

		</ul>
	</div>

	{% else %}
	<div class="text-center pt-5">
		<div class="">
			<h2 id="unknow">Un sujet dont nous n'avons pas traité</h2>
		</div>
		<div class="">
			<img class="img-fluid" src="{{ asset('/img/trouvé_une_araignée.png') }}" alt="chatte_actuelle search">
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}