{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block header %}
	<div class="container">
		<h1>{{ article.title }}</h1>
		<div class=""></div>
	</div>

{% endblock %}

{% block section %}
	<div class="container pt-5">
		<div class="d-flex flex-column d-grid gap-2">
			<div class="">
				{{ article.article|raw }}
			</div>
				{% for image in article.images %}
					<div class="">
					 <img src="{{ asset('/img/download/'~image.source) }}" alt=""> 
					</div>
				{% endfor %}
			<div class="">
				<p>
					<strong>Auteur :
					</strong>
					{{ article.user.displayName }}</p>
			</div>
			{% if article.PublishedAt %}
				<p>
					<strong>Publié :
					</strong>
					{{ article.publishedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
				</p>
			{% else %}
				<p>
					<strong>Jamais Publié</strong>
				</p>
			{% endif %}

            {% if article.modifiedAt %}
				<p>
				    <strong>Modifié : </strong>{{ article.publishedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
				</p>
			{% endif %}
		</div>
	</div>

	{# <table class="table">
		        <tbody>
		            <tr>
		                <th>Id</th>
		                <td>{{ article.id }}</td>
		            </tr>
		            <tr>
		                <th>Title</th>
		                <td>{{ article.title }}</td>
		            </tr>
		            <tr>
		                <th>Slug</th>
		                <td>{{ article.slug }}</td>
		            </tr>
		            <tr>
		                <th>Article</th>
		                <td></td>
		            </tr>
		            <tr>
		                <th>PublishedAt</th>
		                <td>{{ article.publishedAt ? article.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
		            </tr>
		            <tr>
		                <th>ModifiedAt</th>
		                <td>{{ article.modifiedAt ? article.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
		            </tr>
		            <tr>
		                <th>Draft</th>
		                <td>{{ article.draft ? 'Yes' : 'No' }}</td>
		            </tr>
		        </tbody>
		    </table>
		
		    <a href="{{ path('app_articles_index') }}">back to list</a>
		
		    <a href="{{ path('app_articles_edit', {'slug': article.slug}) }}">edit</a> #}

	{{ include('articles/_delete_form.html.twig') }}
{% endblock %}
