{% extends 'base.html.twig' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block header %}
<div class="container pt-5">
	<div class="text-center">
		<h1>{{ article.title }}</h1>
	</div>
	<div class="">
		{% for label, messages in app.flashes(['success', 'unauthorised']) %}
		{% for message in messages %}
		{% if label == 'unauthorised' %}
		<div class="alert alert-danger" role="alert">{{ message }}</div>
		{% else %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block section %}
<div class="container pt-5">
	<div class="d-flex flex-column d-grid gap-2">
		<div class="article">
			{{ article.article|raw }}
		</div>
		<div class="d-flex flex-row flex-wrap d-grid gap-2">
			{% for image in article.images %}
			<div class="d-flex flex-column">
				<div class="">
					<img class="img-fluid" src="{{ asset('/img/download/'~ article.slug ~ '/' ~ image.source) }}"
						alt="{{ article.slug }}">
				</div>
				<div class="text-center jutify">
					<p>
						<small class="justify">{{ image.description }}</small>
					</p>
				</div>
				<div class="d-flex flex-row justify-content-evenly">
				{% if is_granted('IMAGE_EDIT',image) %}
				<div class="">
					<a href="{{ path('app_images_edit', {'id': image.id}) }}" class="btn btn-primary">Editer</a>
				</div>
				{% endif %}
				{% if is_granted('DELETE_IMAGE',image) %}
				<div class="">
					{% include 'images/_delete_by_article_form.html.twig' %}
				</div>
				{% endif %}
				</div>
				
			</div>
			{% endfor %}
		</div>
		<div class="d-flex flex-row justify-content-evenly pt-3">
			<div class="">
				<p>
					<strong>Auteur :
					</strong>
					{{ article.user.displayName }}
				</p>
			</div>
			{% if article.PublishedAt %}
			<p>
				<strong>Publié :
				</strong>
				{{ article.publishedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
			</p>
			{% else %}
			<p>
				<strong>Jamais Publié</strong>
			</p>
			{% endif %}

			{% if article.modifiedAt %}
			<p>
				<strong>Modifié :
				</strong>
				{{ article.publishedAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
			</p>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="d-flex flex-row justify-content-end d-grid gap-2">
		{% if is_granted('DELETE_ARTICLE',article) %}
		<div class="">
			{{ include('articles/_delete_form.html.twig') }}
		</div>
		{% endif %}

		{% if is_granted('EDIT_ARTICLE',article) %}
		<div class="">
			<a href="{{ path('app_articles_edit', {'slug': article.slug}) }}" class="btn btn-primary">Editer</a>
		</div>
		{% endif %}
	</div>
</div>

{# container envoit commentaire #}
<div class="container pt-5">

	{% if is_granted('SEND_COMMENTS',app.user) %}

	{% set action = '#liste_commentaire' %}

	{{ form_start(form, {'method': 'POST', 'action':  action }) }}
	<div class="d-flex flex-row">

		<img id="footprints" src="{{ asset("/img/svg/profile.svg") }}" alt="profile">

		{{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}

		<button class="btn btn-light">{{ button_label|default('Commenter') }}</button>
	</div>
	{{ form_end(form) }}
	{% else %}
	<p class="text-center important"><strong>Vous devez être connecté pour poster des commentaires</strong></p>
	{% endif %}
</div>
{# container envoit commentaire #}

{# container liste commentaire #}
<div class="container pt-5" id="liste_commentaire">

	{% for comment in article.comments|reverse %}

	{% if not comment.parent %}
	<p>
		<div class="d-flex flex-row align-items-center">

			<div class="">
				{% if comment.user.imgProfile.source %}
				<img class="imgProfile" src="{{ asset('/img/download/profile/'~ comment.user.imgProfile.source) }}" alt="">
				{% else %}
				<img src="{{ asset("/img/svg/profile.svg") }}" alt="profile">
				{% endif %}
			</div>

			<div class="d-flex flex-column">
				<div class="">
					<strong class="text-light">{{ comment.user.displayname }}</strong>
					<small>{{ comment.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</small>
				</div>
				<div class="text-light justify">
					{{ comment.comment|raw }}
				</div>
			</div>

			{% if app.user %}
			<div class="d-flex flex-column">
				<button class="btn information" type="button" data-bs-toggle="collapse"
					data-bs-target="{{ '#opt' ~ comment.id }}" aria-expanded="false" aria-controls="collapseExample">
					<img src="{{ asset("/img/svg/gear.svg") }}" alt="options">
				</button>
				<div class="collapse" id="{{ 'opt' ~ comment.id }}">

					<div class="d-flex flex-column">
						{% if is_granted('DELETE_COMMENT',comment) %}
						<div class="text-center">
							{{ include('comments/_delete_form.html.twig') }}
						</div>
						{% endif %}

						{% if is_granted('REPORT_COMMENT',comment) %}
						<div class="text-center">
							<a href="{{ path('app_comments_report', {'id': comment.id }) }}"
								class="btn information"><img src="{{ asset("/img/svg/flag.svg") }}" alt="flag"></a>
						</div>
						{% endif %}

						{% if is_granted('EDIT_COMMENT',comment) %}
						<div class="text-center">
							<a href="{{ path('app_comments_edit', {'id': comment.id }) }}" class="btn information"><img
									src="{{ asset("/img/svg/edit.svg") }}" alt="edit"></a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
		</div>

		{% if is_granted('SEND_COMMENTS',app.user) %}
		<div class="ms-5">
			<button class="btn information" type="button" data-bs-toggle="collapse"
				data-bs-target="{{ '#ca' ~ comment.id }}" aria-expanded="false" aria-controls="collapseExample">
				<small>Répondre</small>
			</button>
			<div class="collapse" id="{{ 'ca' ~ comment.id }}">
				{{ include('comments/_reply_form.html.twig') }}
			</div>
		</div>
		{% endif %}

		{% if comment.reply|length %}
		<div class="ms-5">
			<button class="btn information" type="button" data-bs-toggle="collapse"
				data-bs-target="{{ '#viewReply' ~ comment.id }}" aria-expanded="false" aria-controls="collapseExample">
				<small>{{ comment.reply|length }} Réponse(s)<img src="{{ asset("/img/svg/down.svg") }}"
						alt="down"></small>
			</button>
			<div class="collapse" id="{{ 'viewReply' ~ comment.id }}">
				{% for reply in comment.reply %}

				<p>
					<div class="d-flex flex-row">


						{% if reply.user.imgProfile.source %}
						<img src="{{ asset('/img/download/profile/'~ comment.user.imgProfile.source) }}" alt="">
						{% else %}
						<img src="{{ asset("/img/svg/profile.svg") }}" alt="profile">
						{% endif %}
						<div class="d-flex flex-column">
							<div class="">
								<strong class="text-light">{{ reply.user.displayname }}</strong>
								<small>{{ reply.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</small>
							</div>
							<div class="text-light">
								{{ reply.comment }}
							</div>
						</div>

						<div class="d-flex flex-column">
							<button class="btn information" type="button" data-bs-toggle="collapse"
								data-bs-target="{{ '#opt' ~ reply.id }}" aria-expanded="false"
								aria-controls="collapseExample">
								<img src="{{ asset("/img/svg/gear.svg") }}" alt="options">
							</button>
							<div class="collapse" id="{{ 'opt' ~ reply.id }}">

								<div class="d-flex flex-column">
									{% if is_granted('DELETE_COMMENT',reply) %}
									<div class="text-center">
										{{ include('comments/_delete_reply_form.html.twig') }}
									</div>
									{% endif %}

									{% if is_granted('REPORT_COMMENT',reply) %}
									<div class="text-center">
										<a href="{{ path('app_comments_report', {'id': reply.id }) }}"
											class="btn information"><img src="{{ asset("/img/svg/flag.svg") }}"
												alt="flag"></a>
									</div>
									{% endif %}

									{% if is_granted('EDIT_COMMENT',reply) %}
									<div class="text-center">
										<a href="{{ path('app_comments_edit', {'id': reply.id }) }}"
											class="btn information"><img src="{{ asset("/img/svg/edit.svg") }}"
												alt="edit"></a>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					{% if is_granted('SEND_COMMENTS',app.user) %}
					<div class="">
						<button class="btn information" type="button" data-bs-toggle="collapse"
							data-bs-target="{{ '#ca2' ~ reply.id }}" aria-expanded="false"
							aria-controls="collapseExample">
							<small>Répondre</small>
						</button>
						<div class="collapse" id="{{ 'ca2' ~ reply.id }}">
							{{ include('comments/_reply_form.html.twig') }}
						</div>
					</div>
					{% endif %}
				</p>
				{% endfor %}
			</div>
		</div>
		{% endif %}


		{% endif %}
	</p>
	{% endfor %}

</div>

{% endblock %}