<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="robots" content="index, follow">
	<meta name="description" content="Blog, articles humoristiques ou sérieux à partir du point de vue d'une chatte sur notre monde contemporain">
	{# <meta name="google-site-verification" content="0Kqjl6qX6NsMNYMobTzRYQzTc1kDpgFQPuddW_qDpXc" /> #}

    <link
		rel="icon" type="image/x-icon" href="{{ asset('img/logo.png') }}">

    <title>{% block title %}Bienvenue Chatte Actuelle!{% endblock %}</title>
  
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body>
    <nav>
        {% include "navbar/navbar.html.twig" %}

        {% include "modals/tags.html.twig" %}
    </nav>

    <div class="container-fluid">
        <ul class="background">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <header>
        {% block header %}{% endblock %}
    </header>

    <section>
        {% block section %}{% endblock %}
    </section>

    <footer>
        <div class="container-full pt-3">

            <div id="footer" class="d-flex flex-row align-items-center justify-content-evenly text-white d-grid gap-2">
                {# <div class="d-flex flex-column">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <p>
                            <img src="{{ asset("/img/svg/mail.svg") }}" alt="mail"> 
                        </p>
                        <p class="ms-1">
                            Nous contacter :
                        </p>
                    </div>
                    <p>
                        chatteActuelle@gmail.com
                    </p>
                </div> #}
                <div class="d-flex flex-column">
                    <p>
                        Réseaux sociaux
                    </p>

                    <a class="text-center" href="https://www.facebook.com/profile.php?id=100087009169794"
                        target="_blank" rel="noopener noreferrer">
                        <img src="{{ asset("/img/svg/facebook.svg") }}" alt="facebook">
                    </a>
                </div>
                <div class="d-flex flex-column">

                    <p>
                        <a class="nav-link" href="{{ path('app_cgu') }}">Conditions Utilisation</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>