{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
<div class="col-12">
    {{ form_widget(form.edito) }}
</div>
<div class="">
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>
    
{{ form_end(form) }}
