<div class="container">
    {{ form_start(form) }}
    <div class="d-grid gap-2">
    {% if user.imgProfile.source %}
    <div class="">
        <img src="{{ asset('/img/download/profile/'~ user.imgProfile.source) }}" alt="">
    </div>
    {% else %}
    <div class="d-flex flex-row align-items-center d-grid gap-3">
        <p>
            Image par défaut
        </p>

        <img src="{{ asset('/img/svg/profile.svg') }}" alt="">
    </div>
    {% endif %}
    
    <div class="">
        <p>Changer votre image de profil</p>
    </div>
    <div class="">
        {{ form_errors(form.imgProfile) }}
    </div>
    <div class="">
        {{ form_widget(form.imgProfile, {'attr':{'class':'form-control form-control-lg ms-5'}}) }}
    </div>
    <div class="pt-1">
        <p>Nom d'affichage</p>
    </div>
   
    <div class="">
        {{ form_errors(form.displayName) }}
    </div>
    <div class="">
        {{ form_widget(form.displayName, {'attr': {'class': 'form-control  text-center'}}) }}
    </div>
    <div class="pt-2">
        <p>Email : {{ user.email }}</p>
    </div>
   
    {% if is_granted('CHANGE_ROLE',app.user) %}
    <div class="">
        {{ form_label(form.roles, 'Choisissez un role') }}
    </div>
    <div class="">
        {{ form_widget(form.roles) }}
    </div>
    {% endif %}
    {% if is_granted('CHANGE_AVERTISSEMENT_USER',app.user) %}
    <div class="">
        {{ form_label(form.warning, 'Nombre d\'avertissement') }}
    </div>
    <div class="">
        {{ form_widget(form.warning) }}
    </div>
    {% endif %}
    <div class="text-end pt-3">
        <button class="btn btn-light">{{ button_label|default('Enregistrer') }}</button>
    </div>
</div>
    {{ form_end(form) }}
    
</div>