{% extends 'base.html.twig' %}

{% block title %}Index Utilisateur{% endblock %}

{% block header %}
<div class="container text-center pt-3">
    <h1>Index</h1>
</div>

{% endblock %}

{% block section %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>

                <th>Pseudonyme d'affichage</th>
                <th>Compte vérifié</th>
                <th>Avertissement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>

                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>

                <td>{{ user.displayname }}</td>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
             
                <td>{{ user.warning ? user.warning : '0' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Créer nouvel Utilisateur</a>
</div>

{% endblock %}