{% extends 'base.html.twig' %}

{% block title %}Index Utilisateur{% endblock %}

{% block header %}
<div class="container text-center pt-5">
    <h1>Index des utilisateurs</h1>
</div>

{% endblock %}

{% block section %}
<div class="container pt-5">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <p>Email</p>
                    </th>
                    <th>
                        <p>Roles</p>
                    </th>

                    <th>
                        <p>Pseudonyme d'affichage</p>
                    </th>
                    <th>
                        <p>Compte vérifié</p>
                    </th>
                    <th>
                        <p>Avertissement</p>
                    </th>
                    <th>
                        <p>actions</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>

                    <td>
                        <p>{{ user.email }}</p>
                    </td>
                    <td>
                        <p>{{ user.roles ? user.roles|json_encode(constant('JSON_PRETTY_PRINT')) : 'Utilisateur' }}</p>
                    </td>

                    <td>
                        <p>{{ user.displayname }}</p>
                    </td>
                    <td>
                        <p>{{ user.isVerified ? 'Oui' : 'Non' }}</p>
                    </td>

                    <td>
                        <p>{{ user.warning ? user.warning : '0' }}</p>
                    </td>
                    <td>
                        {% if is_granted('USER_INDEX',user) %}
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                        {% endif %}

                        {% if is_granted('EDIT_PROFILE',user) %}
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-end pt-5">
        <a href="{{ path('app_admin') }}">Retour</a>
    </div>
</div>

{% endblock %}