{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block header %}
<div class="container pt-5">
    <div class="text-center">
        <h1>Profil de {{ user.displayname }}</h1>
    </div>
</div>
{% endblock %}

{% block section %}
<div class="container pt-5">

    <table class="table">
        <tbody>
            <tr>
                <th><p>Email</p></th>
                <td><p>{{ user.email }}</p></td>
            </tr>
            <tr>
                <th><p>Roles</p></th>
                {# <td><p>{{ user.roles ? user.roles|json_encode : '' }}</p></td> #}
                <td><p>{{ user.roles|json_encode(constant('JSON_PRETTY_PRINT')) }}</p></td>
            </tr>
           
            <tr>
                <th><p>Pseudonyme d'affichage</p></th>
                <td><p>{{ user.displayname }}</p></td>
            </tr>
            <tr>
                <th><p>Compte vérifié</p></th>
                <td><p>{{ user.isVerified ? 'Oui' : 'Non' }}</p></td>
            </tr>
            <tr>
                <th><p>Avertissement</p></th>
                <td><p>{{ user.warning ? user.warning : '0' }}</p></td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex flex-row justify-content-evenly pt-3">
    {% if is_granted('USER_INDEX', app.user) %}
    <a href="{{ path('app_user_index') }}">Retour Index</a>
    {% endif %}

    {% if is_granted('EDIT_PROFILE',user) %}
    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
    {% endif %}
</div>
<div class="text-end pt-5">
    {% if is_granted('DELETE_USER',app.user) %}
    {{ include('user/_delete_form.html.twig') }}
    {% endif %}
</div>
</div>
{% endblock %}